@charset "UTF-8";

/* common */
body {
    width: 100%;
    overflow-x: hidden;
}

@media screen and (max-width: 321px) {
    body {
        width: 321px;
        overflow: visible;
    }
}

img {
    max-width: 100%;
}

h2, h3, p {
    word-break: keep-all;
}

button {
    background: none;
    border: none;
}

.inner {
    width: 100%;
    max-width: 1360px;
    padding: 0 20px;
    margin: 0 auto;
}

.t-c {
    text-align: center;
}

@media screen and (max-width: 767px) {
    .pc-only {
        display: none;
    }
}

@media screen and (min-width: 1100px) {
    .mb-only {
        display: none;
    }
}

/* //common */
/* HEADER */
header {
    position: relative;
    z-index: 9999;
    width: 100%;
    padding: 75px 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    transition: all .1s;
}

header .header__conts {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    align-items: flex-end;
    justify-content: space-between;
}

.header__nav--gnb a,
.header__nav--gnb button {
    font-size: 1rem;
    font-weight: 700;
}

@media all and (max-width:1100px) {
    header {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        height: 110px;
        padding: 0 20px;
    }

    header+.conts {
        padding-top: 90px;
    }

    header .header__conts {
        align-items: center;
    }

    .header__conts>a {
        display: inline-block;
        height: 65px;
        font-size: 0;
    }

    .header__conts>a>img {
        height: 100%;
        max-width: initial;
    }

    .bg--mobile {
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .6);
    }

    .bg--mobile.on {
        display: block;
    }

    .btn--hamburger {
        z-index: 100000;
        position: absolute;
        top: 50%;
        right: 20px;
        width: 50px;
        height: 50px;
        transform: translateY(-50%);
    }

    .btn--hamburger span {
        position: relative;
        display: block;
        width: 70%;
        height: 5px;
        margin: 0 auto;
        background: #ff8000;
        transition: transform .3s;
    }

    .btn--hamburger.on span {
        /* background: #fff; */
    }

    .btn--hamburger span:nth-of-type(1) {
        transform: translate(0, -6px);
    }

    .btn--hamburger span:nth-of-type(2) {
        transform: translate(0, 0);
    }

    .btn--hamburger span:nth-of-type(3) {
        transform: translate(0, 6px);
    }

    .btn--hamburger.on span:nth-of-type(1) {
        transform: translate(0, 0);
        opacity: 0;
    }

    .btn--hamburger.on span:nth-of-type(2) {
        transform: translate(0, 0) rotate(-45deg);
    }

    .btn--hamburger.on span:nth-of-type(3) {
        transform: translate(0px, -5px) rotate(45deg);
    }

    .header__nav--gnb {
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        max-width: 500px;
        height: 100%;
        padding-top: 110px;
        background: rgba(255,255,255,.9);
        transition: right .7s;
    }

    .header__nav--gnb.on {
        right: 0;
    }

    .header__nav--gnb>ul>li {
        margin-bottom: 1px;
        background: #fff;
    }

    .header__nav--gnb>ul>li>* {
        display: block;
        width: 100%;
        padding: 1rem 1.25rem;
        text-align: left;
    }
}

@media all and (max-width:767px) {
    .header__conts>a {
        height: 50px;
    }
}

@media all and (max-width:480px) {
    .header__conts>a {
        height: 40px;
    }
}

@media all and (min-width:1101px) {
    .header__nav--gnb ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header__nav--gnb ul li:not(:first-child) {
        margin-left: 54px;
    }

    .header__nav--gnb a,
    .header__nav--gnb button {
        font-size: 1.75rem;
    }

    .header__nav--gnb a:hover,
    .header__nav--gnb button:hover {
        color: #FF5F26;
    }
}

/* //HEADER */
section {
    min-height: 100vh;
}

section .inner {
    padding-top: 50px;
    padding-bottom: 50px;
    box-sizing: border-box;
}

@media (min-width: 768px) and (max-width: 1199px) {
    section .inner {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

@media (min-width: 1200px) {
    section .inner {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.section01__slider {
    width: 100%;
    overflow: hidden;
    font-size: 0;
}

.section01__slider .slide {
    width: 100%;
    min-height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media all and (min-width: 1200px) {
    .section01__slider .slide>div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }
}

.section01__slider .slide.slide01 {
    background-image: url('../images/top_01.png');
}

.slide__text {
    color: #fff;
}

.slide__text h2 {
    font-weight: 800;
    font-size: 2rem;
    line-height: 1.4;
}

.slide__text p {
    margin-top: 20px;
    font-size: 1.3125rem;
    line-height: 1.428;
}

.slide__text a {
    display: block;
    width: 70%;
    max-width: 335px;
    padding: 10px 0;
    margin: 20px auto;
    background-color: #FF5F26;
    border: 3px solid #fff;
    border-radius: 10px;
    font-size: 1.3125rem;
    font-weight: 700;
    line-height: 1;
    transition: background .1s;
}

@media screen and (min-width: 768px) {
    .slide__text h2 {
        font-size: 3rem;
        line-height: 1.8;
    }

    .slide__text a:hover {
        background-color: #093056;
    }

    .slide__text p {
        margin-top: 0;
    }

    .slide__text p,
    .slide__text a {
        font-size: 2rem;
        line-height: 1.428;
    }

    .slide__text a {
        margin: 60px auto;
        padding: 20px 0;
    }
}

@media all and (min-width: 1200px) {
    .slide__text h2 {
        font-size: 3.438rem;
    }

    .slide__text p,
    .slide__text a {
        font-size: 2.188rem;
        line-height: 1.428;
    }

    .slide__text a {
        margin: 100px auto 0;
        padding: 26px 0;
    }
}

.slide__img {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0 3px 13px rgba(0, 0, 0, .16);
}

.slide__img video {
    position: absolute;
    top: 8%;
    left: 4%;
    width: 92%;
    box-shadow: 0 3px 13px rgba(0, 0, 0, .16);
    font-size: 0;
    border: none;
}

.section--common {
    display: flex;
    align-items: center;
}

.p--common {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 1.3125rem;
    color: #000;
    word-break: keep-all;
    line-height: 1.5;
}

.p--common strong {
    display: block;
    margin-top: 20px;
    font-weight: 800;
    font-size: 2rem;
    line-height: 1.4;
}

@media screen and (min-width: 768px) {
    .p--common {
        margin-bottom: 40px;
        font-size: 2rem;
    }

    .p--common strong {
        margin-bottom: 40px;
        font-size: 3rem;
    }
}

@media screen and (min-width: 1200px) {
    .p--common {
        margin-bottom: 70px;
        font-size: 2.5rem;
    }

    .p--common strong {
        margin-bottom: 70px;
        font-size: 3.75rem;
        line-height: 1.5;
    }
}

.section02__ul {
    margin-right: -8px;
    margin-left: -8px;
    align-items: stretch;
    justify-content: space-between;
    color: #fff;
}

.section02__ul li {
    padding: 0 8px;
}

@media screen and (max-width: 1200px) {
    .section02__ul li {
        margin-top: 20px;
    }
}

.section02__ul li div {
    height: 100%;
    padding: 40px 5px 60px;
    font-weight: 700;
    border-radius: 38px;
    box-shadow: 0 10px 23px rgba(0, 0, 0, .1);
    background-size: 100% 100%;
}

.section02__ul li:nth-child(1) div {
    background-image: url('../images/txt_01.png');
}

.section02__ul li:nth-child(2) div {
    background-image: url('../images/txt_02.png');
}

.section02__ul li:nth-child(3) div {
    background-image: url('../images/txt_03.png');
}

.section02__ul li:nth-child(4) div {
    background-image: url('../images/txt_04.png');
}

.section02__ul li h3 {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 1.75rem;
}

.section02__ul li h3:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-20px);
    display: block;
    width: 40px;
    border-bottom: 3px solid #FF7102;
}

.section02__ul li p {
    font-weight: 700;
    font-size: 1.3125rem;
    line-height: 1.25;
}

@media screen and (min-width: 768px) {
    .section02__ul li h3 {
        font-size: 2.375rem;
    }

    .section02__ul li p {
        font-size: 1.5rem;
    }
}

.section03 {
    background: url('../images/top_02.png') no-repeat center center/cover;
    color: #fff;
}

.section03 h2 {
    font-weight: 800;
    font-size: 2rem;
}

.section03 p {
    margin-top: 40px;
    font-size: 1.3125rem;
    line-height: 1.428;
}

@media screen and (min-width: 768px) {
    .section03 h2 {
        font-size: 3rem;
    }

    .section03 p {
        margin-top: 40px;
        font-size: 2rem;
    }
}

@media screen and (min-width: 1200px) {
    .section03 h2 {
        font-size: 3.438rem;
    }

    .section03 p {
        margin-top: 40px;
        font-size: 2.188rem;
        line-height: 1.428;
    }
}

.section04__ul {
    margin: 0 -10px;
}

.section04__ul li {
    margin-top: 24px;
    padding: 0 10px;
}

.section04__ul li div {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 30px 28px;
    box-shadow: 0 7px 17px rgba(0, 0, 0, .11);
    border-bottom-right-radius: 100px;
}

.section04__ul li.active div:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border: 5px solid #FF8D6A;
    border-bottom-right-radius: 100px;
}

.section04__ul li h3 {
    margin-bottom: 40px;
    line-height: 1;
    font-weight: 700;
    font-size: 2rem;
}

.section04__ul li h3 sub {
    font-size: 12px;
}

.section04__ul li img {
    position: absolute;
    top: 30px;
    right: 28px;
}

@media (max-width: 767px) {
    .section04__ul li img {
        width: 65px;
    }
}

.section04__ul li p {
    word-break: keep-all;
    line-height: 1.4;
    font-size: 1rem;
    color: #878787;
}

.section04__ul li p strong {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 1.3125rem;
    color: #000;
}

@media (max-width: 480px) {
    .section04__ul li p strong {
        font-size: 1.125rem;
    }
}

@media (min-width: 1200px) {
    .section05__ul li {
        display: flex;
        min-height: 100vh;
        align-items: center;
        justify-content: space-between;
    }

    .section05__ul li:nth-child(even) {
        flex-direction: row-reverse;
    }

    .section04__ul li h3 {
        font-size: 2.875rem;
    }

    .section04__ul li p {
        line-height: 1.4;
        font-size: 1.25rem;
    }

    .section04__ul li p strong {
        font-size: 1.5rem;
    }

    .section05__ul__txtbox {
        max-width: calc(100% - 600px);
    }
}

.section05__ul__txtbox+img {
    box-shadow: 0 3px 20px rgba(0, 0, 0, .16);
    border-radius: 20px;
}

.section05__ul__txtbox h3 {
    position: relative;
    display: inline-block;
}

.section05__ul__txtbox h3 span {
    display: inline-block;
    min-width: 70%;
    font-weight: 800;
    font-size: 1.75rem;
    color: #fff;
    background-color: #FF8000;
}

.section05__ul li:nth-child(odd) h3 span {
    padding: 10px 22px 15px 17.5px;
    background: url('../images/ask_01.png') no-repeat center top/100% 100%;
}

.section05__ul li:nth-child(even) span {
    padding: 10px 17.5px 15px 22px;
    background: url('../images/ask_02.png') no-repeat center top/100% 100%;
}

.section05__ul li h3 img {
    position: absolute;
    top: 0;
}

@media (max-width: 1199px) {
    .section05__ul li:not(:first-child) {
        margin-top: 50px;
    }

    .section05__ul li:nth-child(even) h3 {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: center;
    }

    .section05__ul li h3 img {
        position: static;
        width: 18%;
        display: inline-block;
        vertical-align: top;
    }

    .section05__ul__txtbox h3 {
        display: block;
    }
}

@media (max-width: 767px) {
    .section05__ul__txtbox h3 span {
        font-size: 1.125rem;
    }
}

.section05__ul li:nth-child(odd) h3 img {
    left: calc(100% + 20px);
}

.section05__ul li:nth-child(even) h3 img {
    right: calc(100% + 20px);
}

.section05__ul__txtbox p {
    margin-top: 20px;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.428;
}

@media screen and (max-width: 1199px) {
    .section05__ul__txtbox p {
        margin-bottom: 60px;
    }

    .section05__ul__txtbox+img {
        max-width: 70%;
    }
}

@media screen and (max-width: 767px) {
    .section05__ul__txtbox p {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .section05__ul__txtbox h3 span {
        font-size: 3rem;
    }

    .section05__ul__txtbox p {
        font-size: 2rem;
    }
}

@media screen and (min-width: 768px) {
    .section05__ul li:nth-child(odd) h3 span {
        padding: 20px 44px 30px 35px;
    }

    .section05__ul li:nth-child(even) span {
        padding: 20px 35px 30px 44px;
    }
}

@media screen and (min-width: 1200px) {
    .section05__ul__txtbox h3 span {
        min-width: 444px;
        font-size: 2.813rem;
    }

    .section05__ul__txtbox p {
        margin-top: 45px;
        font-size: 2rem;
        line-height: 1.428;
    }
}

.section06 {
    padding-bottom: 70px;
    overflow: hidden;
}

@media screen and (max-width: 1199px) {
    .section06 {
        min-height: auto;
        padding: 100px 0;
    }

    .section06 .inner {
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 767px) {
    .section06 {
        min-height: auto;
        padding: 50px 0;
    }
}

.section06__slide-wrap .slick-track {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.section06__slide-wrap .slick-slide {
    height: auto;
    box-sizing: initial;
    padding: 95px 20px 30px;
}

.section06__slide-wrap .slick-slide div {
    height: 100%;
}

.section06__slide__cont-wrap {
    position: relative;
    padding: 80px 20px 20px;
    box-shadow: 0 3px 30px rgba(0, 0, 0, .16);
    border-radius: 50px;
    cursor: pointer;
}

.section06__slide__cont-wrap h3 {
    font-weight: 800;
    font-size: 1.3125rem;
    color: #FF6700;
}

.section06__slide__cont-wrap p {
    margin-top: 30px;
    font-size: 1rem;
    color: #848484;
    line-height: 1.5;
}

.section06__slide__cont-wrap>img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -60%);
}

@media (min-width: 1200px) {
    section.section06 .inner {
        padding-top: 100px;
        padding-bottom: 20px;
    }

    .section06__slide__cont-wrap h3 {
        font-size: 1.75rem;
    }

    .section06__slide__cont-wrap p {
        font-size: 1.25rem;
    }
}

/* footer */
footer {
    width: 100%;
    padding: 90px 0;
    background-color: #093056;
    color: #fff;
    letter-spacing: 0;
}

footer p {
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.48;
}

.footer__ul--links {
    margin-top: 40px;
}

.footer__ul--links li {
    display: inline-block;
    vertical-align: middle;
}

@media screen and (max-width: 1199px) {
    footer {
        padding: 50px 0 70px;
    }

    footer img {
        max-width: 70%;
    }

    .footer__ul--links li {
        display: block;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 767px) {
    .footer__ul--links li {
        margin-bottom: 5px;
    }
}

@media (min-width: 1200px) {
    .footer__ul--links li {
        padding-right: 33px;
    }

    .footer__ul--links li:not(:first-child) {
        position: relative;
        padding-left: 33px;
    }

    .footer__ul--links li:not(:first-child):before {
        content: '';
        position: absolute;
        top: 4px;
        left: 0;
        display: block;
        width: 3px;
        height: 26px;
        background: #fff;
    }
}

.footer__ul--links a {
    font-size: 1rem;
    font-weight: 700;
}

@media screen and (min-width: 768px) {
    footer p {
        margin-top: 50px;
        font-size: 1.3125rem;
    }

    .footer__ul--links {
        margin-top: 80px;
    }

    .footer__ul--links a {
        font-size: 1.3125rem;
    }
}

@media screen and (min-width: 1200px) {
    footer p {
        margin-top: 50px;
    }

    .footer__ul--links {
        margin-top: 80px;
    }
}

.btn--top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #093056;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    outline: none;
    opacity: 0;
}

/* //footer */
